
@model FarmerMarket.Models.TaiKhoan
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


@section styles{
    @*<link rel="stylesheet" href="~/wwwroot/fonts/icofont/icofont.min.css" />
        <link rel="icon" href="~/wwwroot/images/favicon.png" />*@
    <link rel="stylesheet" href="~/wwwroot/css/custom/user.css" />
}

<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>Đăng ký</h2>
                        <p>Điền đầy đủ thông tin đăng ký của bạn</p>
                    </div>
                    <form class="user-form" action="@Url.Action("Register","Profile")" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.EditorFor(model => model.TenTaiKhoan, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập tên đăng nhập" } })
                            @Html.ValidationMessageFor(model => model.TenTaiKhoan, "", new { @class = "text-danger" })
                            @if (ViewBag.ErrorSign != null)
                            {
                                <p class="text-danger">@ViewBag.ErrorSign</p>
                            }
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập họ tên" } })
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập địa chỉ email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập mật khẩu" } })
                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group">
            @Html.EditorFor(model => model.NhapLaiMatKhau, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập lại mật khẩu" } })
            @Html.ValidationMessageFor(model => model.NhapLaiMatKhau, "", new { @class = "text-danger" })
        </div>*@
                        <div class="form-group">
                            @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập số điện thoại" } })
                            @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập địa chỉ" } })
                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                        </div>
                        <input type="hidden" name="TrangThai" value="true" />
                        <input type="hidden" name="Quyen" value="0" />
                        <div id="divcaptch" data-sitekey="6Lc6858dAAAAANA-n_obwMsykrbQ3Rvz1hZDrapu" style="width:100%; ">
                        </div>
                        <p class="text-danger">@ViewBag.Message</p>
                        @*<span style="display:inline-block; font-size:20px;padding:10px; color:#DC3545;">
                        
                        </span>*@
                        <br />
                        <div class="form-button">
                            <button type="submit">Đăng ký</button>
                        </div>
                    </form>
                    <div class="user-form-remind">
                        <p>Bạn đã có tài khoản?<a href="@Url.Action("Login","Profile") ">Đăng nhập</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        var onloadcallback = function () {
            grecaptcha.render('divcaptch', {
                //  'sitekey': '6ld0k3cdaaaaaj5axbz26ieqtwykfbrrol4nk3to',
                'callback': function (response) {
                    $('txtcaptcha').val('t');
                }
            });
        };

    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadcallback&render=explicit">
    </script>
}
